*{
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: grid;
    text-align: center;
    background-color: rgb(233, 253, 253);
    overflow-x: hidden;
}

/* ------- Progress circle ------- */
.progress-circle .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 10px;
    font-weight: 500;
    color: #4158d0;
}
.progress-circle{
    height: 100px;
    width: 100px;
    top: 80%;
    left: 10%;
    position: absolute;
    transform: scale(2);
    z-index: 20;
}
.progress-circle .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: rgb(233, 253, 253);
    border-radius: 100%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.progress-circle .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #4158d0;
}
.circle .left .progress{
    z-index: 1;
    animation: left 2s linear both;
}
@keyframes left {
    100%{
        transform: rotate(180deg);
    }
}
.circle .right{
    z-index: 3;
    transform: rotate(180deg);
}
.circle .right .progress{
    animation: right 1s linear both;
    animation-delay: 2s;
}
@keyframes right {
    100%{
        transform: rotate(180deg);
    }
}

/* ------ Progress nav bar ------ */
a{
    text-decoration: none;
    color: rgb(131, 132, 138);
}
a img{
    height: 30px;
    width: 30px;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
nav{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: uppercase;
    font-size: 0.8rem;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}
nav li:nth-child(1){
    animation-delay: 0s;
}
nav li:nth-child(2){
    animation-delay: .5s;
}
nav li:nth-child(3){
    animation-delay: 1s;
}
nav li:nth-child(4){
    animation-delay: 1.5s;
}
nav li:nth-child(5){
    animation-delay: 2s;
}
nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}
nav ul li a:last-child{
    margin-right: 0;
}
nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}
nav ul li a::before{
    top: 0;
    transform-origin: left;
}
nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}
nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scaleX(1);
}
@keyframes slideIn {
    from{}
    to{
        transform: translateX(0);
    }
}

/* ------- Back to Home Button ------- */
.continue-btn{
    position: absolute;
    top: 85%;
    left: 80%;
    padding: 20px 50px;
    font-size: 1.25rem;
    overflow: hidden; 
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 10;
}
.continue-btn::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -50px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transform: transform 0.5s ease;
}
.continue-btn:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5), -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}
.continue-btn:hover::after{
    transform: rotate(150deg);
}

/* ----- Top Wallpaper ----- */
.top-wallpaper{
    height: 15%;
    width: 100%;
    top: 7%;
    position: absolute;
    background-image: url('/Images/Background/pencil_crayons.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}
.top-wallpaper h1{
    margin: auto;
    width: 50%;
    padding: 2rem;
    letter-spacing: 2rem;
    font-size: 3rem;
}

/* ----- Submit request button ----- */ 
.submit-request{
    width: 10%;
    height: 5%;
    top: 85%;
    left: 45%;
    position: absolute;
}

/* ----- Confirm email popup section ----- */
.confirm-email{
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 40%;
    height: 25%;
    top: 5%;
    position: absolute;
    padding: 2.5%;
    margin: 30%;
    justify-content: center;
    align-items: center;
    background: rgb(233, 253, 253);
    border-radius: 15px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

/* ----- Receipt form container ----- */
.content-container{
    display: flex;
    width: 90%;
    height: 60%;
    margin: 5%;
    top: 20%;
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}
.sub-containers{
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 45%;
    height: 95%;
    padding: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.2);
    justify-items: center;
    align-items: center;
}
.order-container{
    overflow-y: scroll;
}

/* ----- Card for Payment confirmation ----- */
.card{
    width: 325px;
    height: 200px;
    margin: 5%;
    transform-style: preserve-3d;
    perspective: 500px;
}
.card .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    transition: 1s;
}
.card:hover .face.front{
    transform: rotateY(180deg); 
    visibility: hidden;
}
.card .face.back{
    visibility: hidden;
    transform: rotateY(180deg);
}
.card:hover .face.back{
    visibility: visible;
    transform: rotateY(360deg);
}
.card .face.front::before{
    content: '';
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #f14;
    border-radius: 50%;
    opacity: 0.5;
}
.card .face.front::after{
    content: '';
    position: absolute;
    bottom: 10px;
    right: 50px;
    width: 40px;
    height: 40px;
    background: #ff0;
    border-radius: 50%;
    opacity: 0.7;
}
.card .face.front .debit{
    position: absolute;
    left: 20px;
    top: 10px;
    color: #000;
    font-weight: 500;
    font-style: italic;
    font-size: 15px;
}
.card .face.front .chip{
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 100px;
}
.card .face.front .number{
    position: absolute;
    bottom: 90px;
    left: 15px;
    color: #000;
    font-weight: 500;
    letter-spacing: 6px;
    font-size: 15px;
    text-shadow: 0 2px 1px #0005;
    /* font-family: 'Orbitron sans-serif'; */
}
.card .face.front .valid{
    position: absolute;
    bottom: 50px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 100;
    line-height: 1em;
    text-align: right;
}
.card .face.front .valid span:first-child{
    font-size: 10px;
    font-weight: 500;
}
.card .face.front .valid span:last-child{
    margin-left: 10px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
}
.card .face.front .cardHolder{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #000;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
}
.card .face.front .bank{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-weight: 300;
    font-size: 15px;
}
.card .face.back .blackbar{
    position: absolute;
    top: 15px;
    width: 100%;
    height: 40px;
    background: #000;
}
.card .face.back .ccvtext{
    position: absolute;
    top: 60px;
    left: 15px;
}
.card .face.back .ccvtext h5 {
    color: #000;
    font-weight: 400;
    font-size: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.card .face.back .ccvtext .whiteBar{
    position: absolute;
    width: 90%;
    height: 30px;
    background: #fff;
    margin-top: 5px;
}
.card .face.back .ccvtext .ccv{
    position: absolute;
    top: 17px;
    right: -5px;
    background: #ccc;
    color: #111;
    width: 40px;
    height: 20px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .face.back .text{
    position: absolute;
    top: 110px;
    left: 15px;
    right: 30px;
    color: #fff;
    font-size: 7px;
    line-height: 1.4em;
    font-weight: 300;
    text-align: left;
}